{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
      
         {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
                <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
                <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
         {% endblock %}
        
         {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
                    {# <script src="https://code.jquery.com/jquery-3.5.1.js" ></script> #}
                    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
                    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js" ></script>
                    <script >
                    $(document).ready(function () {
                      $('#example').DataTable();
                                });
                    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<script>
$(document).ready(function () {

    $('.deleteBtn').on('click', function () {
        let removeUrl = $(this).attr('data-remove-url');
        $('.remove_item').attr('data-remove-url', removeUrl);
    });

    $(".remove_item").click(function () {
        let removeUrl = $(this).attr('data-remove-url');
        $.ajax({
            url: removeUrl,
            type: 'POST',
            data: {},
            contentType: 'text',
            success: function(data)
            {
                $('div.modal-content').html(data)
            },
            error: function(jqXHR){
                $('div.modal-content').html(jqXHR.responseText)
            }
        });
    });
});
</script>


        {% endblock %}

{% block body %}
    <h1>Nos utilisateur </h1>
    <a href="{{ path('utilisateurs_ajouter')}}">ajouter client </a>


<table id="example" class="table table-striped" style="width:100%">
        <thead>
    <tr>
        <th>Id</th>
        <th>Username </th>
        <th>Email</th>
        <th>Action</th>
    </tr>
        </thead>
    <tbody>
{% for utilisateur in utilisateurs %}
    <tr>
        <td scope="row">{{utilisateur.id}}</td>
        <td>{{utilisateur.username}}</td>
        <td>{{utilisateur.email}}</td>
         <td>
            <a href="{{ path('utilisateurs_editer',{id : utilisateur.id}) }}" class="btn btn-success" > Editer </a> 
            <a href data-toggle="modal" data-target="#confirmationModal" 
                    data-remove-url="{{ url('utilisateurs_supprimer',{id : utilisateur.id} ) }}"
                     class="btn btn-danger deleteBtn">Supprimer</a>
            <a href="{{ path('utilisateurs_editer_mdp',{id : utilisateur.id}) }}" class="btn btn-info"> Modifier le mot de passe </a>    
        </td> 
    </tr>
    {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="confirmationModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Suppression</h4>
                        <p>Êtes-vous sûr de vouloir supprimer ce utilisateur ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Annuler
                        </button>
                        <a href="{{ path('utilisateurs_') }}" class="btn w-sm btn-danger remove_item">Supprimer</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}


